@import 'tailwindcss';

@config '../tailwind.config.js';

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-pixel: 'Press Start 2P', monospace;

  --color-brand: #0ea5e9;
  --color-brand-dark: #0369a1;
}

html {
  font-family: var(--font-sans);
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(1);
  }
}
.select-screen-bg {
  background-image: url('/select-screen-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.start-screen-bg {
  background-image: url('/city_map.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
}

.water-layer {
  position: absolute;

  background-image: url('/water.jpg');
  background-repeat: repeat;
  background-size: 256px 256px;

  z-index: 0;
}

.dialog-frame {
  border-style: solid;
  border-width: 12px;
  border-image-source: url('/src/assets/dialog-frame.svg');
  border-image-slice: 24;
  border-image-repeat: stretch;
}

.character-select-frame {
  transition: transform 0.2s ease;
  border-style: solid;
  border-width: 20px;
  border-image-source: url('/src/assets/character-select-frame.svg');
  border-image-slice: 24;
  border-image-repeat: stretch;
}

.character-select-frame:hover {
  transform: translateY(-4px);
}

.ring-active {
  border-radius: 14px;
  background: linear-gradient(120deg, #fff3c4, #d6b25e, #b8872f, #fff3c4);
  animation: glow 2.5s linear infinite;
}

.rotate-warning {
  position: fixed;
  inset: 0;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 9999;
}

.fade-black {
  animation: fadeToBlack 0.3s ease forwards;
}

@keyframes fadeToBlack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tattoo-animation {
  animation:
    bounce 0.4s ease-in-out infinite alternate,
    vibrate 0.08s linear infinite;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8px);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(-1px, -1px);
  }
}
